<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/GMatv72vtEI/1600x900);">
  <div class="container">
    <p>Rent a board and enjoy surfing for a day :</p>
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i>
        </button>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% @boards.each do |board| %>
      <div class="card-trip">
        <%= cl_image_tag board.photo.key, alt: "SURFBOARD" %>
        <div class="card-trip-infos">
          <div>
            <% if policy(board).show? %>
            <h2><%= link_to board.name, board_path(board)%></h2>
            <% end %>
            <p> <%= board.description %> </p>
          </div>
          <div class="card-trip-pricing"><%= board.price %>$<em> /day</em></div>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    <% end %>
  </div>
</div>
