<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/1600x900/?surf);">
  <div class="container">
    <h1><%= @board.name %></h1>
    <p>Allez, un ptit <%= @board.name %> 🍑 sec!</p>

    <h2><%= @board.category %></h2>

    <h3><%= @board.description %></h3>

      <% if policy(@board).edit? %>
        <%= link_to "Update", edit_board_path(board) %>
      <% end %>

    <%= link_to "< Back", boards_path, class: "btn btn-ghost" %>
  </div>
</div>
